* {
	font-family: 'tildasans';
}
@media (max-width: 426px) {
	.header {
		height: fit-content;
		background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 1) 11%,
			rgba(21, 50, 3, 1) 86%
		);
		padding-bottom: 5vw;
	}

	.header__content {
		padding: 7vw 3.5vw 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.header__logo {
		display: flex;
		color: #fff;
		height: fit-content;
		width: fit-content;
		gap: 1.2vw;
		margin-bottom: 6vw;
	}

	.header__logo-img {
		width: 10vw;
	}
	.header__logo-block {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.header__logo-h1 {
		font-size: 3.2vw;
		font-weight: 600;
		line-height: 15px;
	}
	.header__logo-h2 {
		font-weight: 300;
		opacity: 0.5;
		font-size: 3vw;
		line-height: 13px;
	}
	.header__toptext {
		display: flex;
		flex-direction: column;
		gap: 2vw;
	}
	.header__toptext-1 {
		color: #ebdcb7;
		font-size: 4vw;
		font-weight: 800;
		line-height: 34px;
		text-align: center;
		letter-spacing: -1px;
	}
	.header__toptext-2 {
		color: #fff;
		font-size: 15px;
		font-weight: 400;
		line-height: 18px;
		text-align: center;
	}
	.header__toptext-2_green {
		color: #83f4c7;
	}
	.header__button {
		background-image: url(../assets/imgs/Group2089451.jpg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		border: none;
		border-radius: 9px;
		width: 100%;
		height: 23.82vw;
		box-shadow: 0px 2px 2px #337fd6;
		margin-top: 8vw;
	}
	.header__button-link {
		display: flex;
		justify-content: center;
		gap: 10px;
		align-items: center;
		text-decoration: none;
		color: #ff8562;
		font-size: 4.2vw;
		letter-spacing: 1vw;
		font-weight: 600;
	}
	.header__button-img {
		width: 21px;
	}
	.header__p {
		margin-top: 5vw;
		color: #fff;
		font-weight: 300;
		text-align: center;
		font-size: 4vw;
	}

	.moments {
		background-color: #000;
		padding: 10vw 3.5vw 40vw;
		display: flex;
		flex-direction: column;
		gap: 10vw;
	}
	.moments__card {
		display: flex;
		gap: 10px;
	}
	.moments__card-block {
		display: flex;
		flex-direction: column;
	}

	.moments__card-img {
		width: 15vw;
		height: 18vw;
	}
	.moments__card-h5 {
		color: #ecddb8;
		margin: 0;
		font-size: 5vw;
	}
	.moments__card-p {
		opacity: 0.9;
		font-size: 4vw;
		color: #fff;
		display: flex;
		gap: 5px;
	}

	.main__header {
		background-color: #000;
		color: #fff;
		padding: 15vw 3.5vw 8vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3vw;
	}
	.main__header-title {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 13vw;
		letter-spacing: -3px;
		flex-wrap: nowrap;
		line-height: 14vw;
	}
	.main__header-title_yellow {
		color: #ecddb8;
	}
	.main__header-title_white {
	}
	.main__header-logo {
		width: 15vw;
	}
	.main__header-p {
		margin-top: 3vw;
		text-align: center;
		opacity: 0.8;
		font-weight: 400;
	}

	.main__desc {
		background-color: #000;
		padding: 0 3.5vw 20vw;
		display: flex;
		flex-direction: column;
		gap: 15vw;
	}
	.main__desc-card {
		display: flex;
		flex-direction: column;
		gap: 5vw;
		padding: 0 10vw;
	}
	.main__desc-img {
		width: 9vw;
	}
	.main__desc-p {
		font-size: 4vw;
		font-weight: 700;
		color: #fff;
		opacity: 0.8;
	}

	.main__cards {
		background-color: #000;
		padding: 8vw 3.5vw 25vw;
		display: flex;
		flex-direction: column;
		gap: 7vw;
	}

	.main__cards-item {
		position: relative;
		width: 100%;
		height: 75vw;
	}
	.mibg {
		position: relative;
		background-image: url(../assets//imgs/Bg.svg);
		background-repeat: no-repeat;
		background-size: contain;
		display: flex;
		flex-direction: column;
		height: 75vw;
		z-index: 2;
		padding-top: 6vw;
		align-items: center;
		gap: 5vw;
	}
	.mih {
		color: #ecddb8;
		font-size: 5vw;
		height: fit-content;
		text-align: center;
	}
	.mip {
		font-size: 4vw;
		letter-spacing: 1px;
		font-weight: 300;
		color: #fff;
		text-align: center;
		padding: 0 2vw;
	}
	.mibg-w {
		position: absolute;
		bottom: 0;
		height: 20vw;
		margin-left: 5%;
		z-index: 0;
		width: 90%;
		background-color: #fff;
		border-radius: 5vw;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.midollar {
		height: 12vw;
	}

	.main__results {
		background: #000;
		padding: 5vw 3.5vw 30vw;
		display: flex;
		flex-direction: column;
		gap: 10vw;
	}

	.main__results-header {
		display: flex;
		flex-direction: column;
		gap: 4vw;
	}

	.mrh1 {
		color: #ebdcb7;
		text-align: center;
		font-size: 10.5vw;
		letter-spacing: -2px;
		line-height: 12vw;
	}
	.mrh2 {
		color: #fff;
		font-size: 5vw;
		letter-spacing: 2px;
		text-align: center;
		font-weight: 200;
		line-height: 5vw;
	}

	.carousel-container {
		position: relative;
		width: 300px;
		overflow: hidden;
		border-radius: 10vw;
		border: 5px solid rgb(66, 58, 58);
		margin-bottom: -5vw;
	}

	.carousel {
		display: flex;
		transition: transform 0.5s ease-in-out;
	}

	.carousel img {
		width: 100%;
	}

	.prev-button {
		transform: rotate(180deg);
		border: none;
		background-color: #60c0d1;
		border-radius: 50%;
	}
	.prev-button svg {
		width: 10vw;
		height: 12vw;
	}

	.next-button {
		border: none;
		background-color: #60c0d1;
		border-radius: 50%;
	}
	.next-button svg {
		width: 10vw;
		height: 12vw;
	}
	.mrcar {
		display: flex;
		align-items: center;
		gap: 4vw;
	}

	.main__anna {
		background-color: #000;
	}

	.anna__img {
		height: 150vw;
		background-image: url(../assets/imgs/Anna_photo.jpeg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position-x: -18vw;
		margin-top: -20vw;
		position: relative;
	}
	.anna__h {
		position: absolute;
		bottom: 0;
		padding-bottom: 6vw;
		padding-left: 25vw;
		color: #ecddb8;
		font-size: 5vw;
		font-weight: 800;
	}

	.anna__text {
		background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 1) 0%,
			rgba(85, 85, 85, 1) 0%,
			rgba(0, 0, 0, 1) 82%
		);
		padding: 12vw 3.5vw;
		font-size: 4vw;
	}

	.anna__text-img {
		width: 9vw;
	}

	.anna__text-block {
		background-color: #2f2f2f;
		padding: 10vw 8vw 20vw;
		color: #fff;
		border-radius: 3vw;
		display: flex;
		flex-direction: column;
		gap: 5vw;
	}
}
